p Mandi is a marketplace where you can buy and sell vegetables, fruits and flowers from people who grow them in your neighborhood.
p Are you a backyard farmer yourself ? Please register as a
  a(href='userRegistration') new user.
