!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Mandi UI
    link(rel='styleSheet', href='/swag/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body